<h1>Hello</h1>


<form action="" class="create-post-form">
  <input type="text" class="create-post-form-title">
  <input type="text" class="create-post-form-body">
  <input type="submit" class="create-post-form-submit">
</form>
